 @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: white;
    font-family: 'Montserrat', sans-serif;
    transition: 0.5s;
}


.container{
    width: 98%;
    margin: 0 auto;
    margin-top: 16px;
    height: fit-content;
}
/* General styles for .prt1, .logoContainer, .links, .header, and .partTwo */
.prt1 {
    display: flex;
    align-items: center;
    margin-left: 50px;
    margin-top: 5px;
}

.logoContainer {
    margin-right: 20px;
    width: 28px;
    height: 28px;
    border: solid 5px rgb(28, 216, 216);
    border-radius: 50%;
}

.links {
    text-decoration: none;
    color: grey;
    margin-right: 12px;
    font-size: large;
}

.links:hover {
    color: black;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.partTwo {
    position: relative;
    height: 45rem;
}

/* Responsive Design */
@media (max-width: 1024px) {
    .prt1 {
        margin-left: 30px;
    }

    .logoContainer {
        width: 24px;
        height: 24px;
        margin-right: 15px;
    }

    .links {
        font-size: 1.2rem; /* Adjust font size for tablets */
    }

    .header {
        flex-direction: column; /* Stack header items on tablet */
        align-items: flex-start;
    }

    .partTwo {
        height: auto; /* Make height auto on tablets */
    }
}

.main-img {
    height: 100%;
    transform: scale(0.93);
}

.mockup {
    position: absolute;
    inset: 0;
    height: 100%;
    width: 100%;
}

.btn{
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-top: 5px;
    padding: 6px;
}

.btn button{
    padding: 12px;
    background-color: rgb(20, 185, 185);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px  30px;
    transition: all 0.5s ease;
    font-size: large;
}

.btn button:hover{
    background-color: rgb(28, 216, 216);
}

#toggle{
    position: relative;
    display: block;
    margin-top: 12px;
    margin-right: 12px;
    width: 50px;
    height: 25px;
    border-radius: 160px;
    background-color: rgb(20, 185, 185);
    transition: 0.5s;
    cursor: pointer;
    box-shadow: inset 8px 0
    rgba(0,0,0,0,1),
    inset 0 8px 8px rgba(0,0,0,0,1)
    inset 0 -4px 4px rgba(0,0,0,0,1)
    ;
}

#toggle .indicator{
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    height: 25px;
    background-color: white;
    border-radius: 50%;
    transform: scale(0.9);
    box-shadow: 0 8px 40px rgba(0,0,0,0,5),
    inset 0 4px 4px rgba(0, 0, 0, 0.2),
    inset 0 -4px 4px rgba(0, 0, 0, 0.2);
    transition: 0.5s;
}

#toggle.active .indicator{
    left: 24px;
    background: linear-gradient(to bottom,
    #000000, #000000);
    box-shadow: 0 8px 20px rgba(0,0,0,0,1),
    inset 0 4px 4px rgba(255,255,255,1),
    inset 0 -4px 4px rgba(255,255,255,1),;
}

    /* HeroSection */

.hero-main {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    align-items: center;
    padding-block: 5rem;
}

.headHO{
    margin-top: 100px;
    margin-left: 50px;
    font-size: 90px;
}
.ElPo{
    margin-left: 50px;
    font-size: 22px;
}

.inpuEl{
    padding: 12px;
    font-size: large;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.btnt{
    padding: 12px;
    background-color: rgb(20, 185, 185);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px  30px;
    transition: all 0.5s ease;
    font-size: large;
}

.btnt:hover{
    background-color: rgb(28, 216, 216);
}

.lineON{
    display: flex;
    align-items: center;
}

.image img{
    width: 25px;
    padding: 3px;
    margin-left: 50px;
    margin-right: 10px;
}

.boxS{
    display: flex;
    flex-direction: row;
    gap: 20px;
    background-color: rgb(239, 238, 238);
    height: 50vh;
    align-items: center;
    justify-content: space-around;
    margin: 0 auto;
    width: 90%;
}
.box-part1{
    display: flex;
    justify-content: space-around;
}
.box-part2{
    display: flex;
}
.boxOne{
    width: 180px;
    height: 160px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.Hone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.boxTwo{
    width: 180px;
    height: 160px;
    margin-left: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.Hone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.boxtHree{
    width: 180px;
    height: 160px;
    margin-left: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.Hone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.boxFour{
    width: 180px;
    height: 160px;
    margin-left: 50px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 30px;
    background-color: rgb(255, 255, 255);
}

.Hone{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 12px;
}

.descRiption{
    width: 100%;
    padding-top: 4rem;
}

.section-title {
    text-align: center;
}

.DesHead{
    font-size: 30px;
}
.subhead{
    margin-top: 1rem;
}

.images-container {
    overflow: hidden;
    margin-top: 5rem;
}

.images {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    transform: translateX(-10rem);
}

.images img {
    height: 25rem;
}

.images img:nth-child(1), .images img:nth-child(3) {
    opacity: .3;
}

.DesPtag{
    margin-top: 2rem;
    font-size: 23px;
}
.subpara{
    margin-left: 9rem;
    margin-top: 1rem;
}

.boxsesTwo{
    width: 100%;
    background: rgb(236, 233, 233);
    margin-block: 5rem;
    padding-block: 4rem;
}

.subheadt{
    margin-left: 16rem;
}

.DesPtagt{
    margin-left: 14rem;
    margin-top: 2rem;
    font-size: 24px;
}
.subparat{
    margin-left: 10rem;
}

.buttonsVedi0{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 30px;
}

.videos {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    width: 70%;
}

.video {
    position: relative;
}

.video .top-part img {
    width: 100%;
}

.video .bottom-part {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.video-duration {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 5px 10px;
    color: white;
    border-radius: 1000px;
}

.butns{
    margin-left: 30px;
    margin-top: 40px;
    margin-bottom: 10px;
}

.btnoNe{
    background: rgb(20, 185, 185);
    padding-left: 0.5rem;
    padding-right: 2rem;
    padding-top: 7px;
    padding-bottom: 6px;
    border: none;
    border-radius: 4px;
    display: flex;
    align-items: center;
    transition: all .5s ease;
    margin-bottom: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

.btnoNe:hover{
    background-color: rgb(28, 216, 216);
}

.pIcon{
    color: white;
    margin-left: 7px;
}

.iconOne{
    width: 25px;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 7px;
}

.btntWo{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 2.6rem;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s ease;
}

.btntWo:hover{
    background-color: rgb(197, 193, 193);
}

.Picon{
    color: black;
    margin-left: 7px;
}

.iconTwo{
    width: 25px;
    padding: 3px;
    margin-left: 8px;
}

.btntHree{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 0.6rem;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s ease;
}

.btntHree:hover{
    background-color: rgb(197, 193, 193);
}

.Picon{
    color: black;
    margin-left: 7px;
}

.icontHree{
    width: 25px;
    padding: 3px;
    margin-left: 8px;
}

.btnfOur{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 2.3rem;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s ease;
}

.btnfOur:hover{
    background-color: rgb(197, 193, 193);
}

.Picon{
    color: black;
    margin-left: 7px;
}

.iconFour{
    width: 25px;
    padding: 3px;
    margin-left: 8px;
}

.btnfIve{
    display: flex;
    align-items: center;
    padding-left: 0.5rem;
    padding-right: 3.1rem;
    padding-top: 7px;
    padding-bottom: 6px;
    background-color: white;
    border: none;
    border-radius: 3px;
    margin-bottom: 12px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    transition: all .5s ease;
}

.btnfIve:hover{
    background-color: rgb(197, 193, 193);
}

.Picon{
    color: black;
    margin-left: 7px;
}

.iconfIve{
    width: 25px;
    padding: 3px;
    margin-left: 8px;
}

.buildDive{
    width: 100%;
    margin: 5rem auto;
    background-color: white;
    padding-block: 5rem;
}

.profileDIve {
    display: flex;
    justify-content: space-around;
    margin-top: 3rem;
}

.mobile {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
}

.number {
    background-color: #4fd1c5;
    padding: 10px 15px;
    color: #fff;
    font-weight: bold;
    border-radius: 50%;
    width: fit-content;
}

.iphone {
    position: relative;
    height: 30rem;
}

.iphone img {
    width: 100%;
    height: 100%;
}

.iphone img:nth-child(1) {
    transform: scale(0.93);
}

.iphone img:nth-child(2) {
    position: absolute;
    inset: 0;
}

.darkDiv{
    width: 100%;
    background-color: #000000;
    padding: 4rem 0;
}

.handpDiv{
    display: flex;
    flex-direction: column;
}
.choose{
    display: flex;
}
.holder{
    position: relative;
    display: flex;
}
.headElementone{
    font-size: 60px;
    color: white;
    display: flex;
    justify-content: center;
}

.headElementTwo{
    font-size: 50px;
    color: white;
    display: flex;
    justify-content: center;
}

.todoSection{
    display: flex;
}

.hThree{
    color: white;
    padding-left: 3.3rem;
    margin-bottom: 12px;
}

.Pelements{
    color: rgb(197, 193, 193);
}

.boxeses{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    position: absolute;
    inset: 0;
    right: 4%;
}
.boxOnE{
    width: 260px;
    height: 380px;
    background-color: white;
    padding: 2rem;
    position: relative;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theYEar{
    font-size: 30px;
    padding-bottom: 1rem;
}

.hfive{
    background-color: aqua;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 8px;
    padding-bottom: 8px;
    border-radius: 100px;
    transition: all .6s ease;
}
.hfive:hover{
    background: rgb(170, 255, 227);
}

.hfives{
    color: rgb(56, 110, 92);
}

.htwo{
    display: flex;
    align-items: end;
    padding-bottom: 12px;
}

.htwos{
    font-size: 45px;
    padding-right: 2px;
}
span{
    font-size: 30px;
    color: rgb(130, 128, 128);
}

.billed{
    font-size: 25px;
    color: rgb(130, 128, 128);
}

.lorem{
    font-size: 17px;
    margin-bottom: 30%;
}

.gobtn{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    color: white;
    background-color: rgb(20, 185, 185);
    border: none;
    border-radius: 3px;
    transition: all ease .6s;
    position: absolute;
    bottom: 6%;
}
.gobtn:hover{
    background-color: rgb(28, 216, 216);
}



.boxtwo{
    width: 260px;
    height: 380px;
    background-color: white;
    padding: 2rem;
    margin-left: 1rem;
    position: relative;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theYEar{
    font-size: 30px;
    padding-bottom: 1rem;
}


.htwo{
    display: flex;
    align-items: end;
    padding-bottom: 12px;
}

.htwos{
    font-size: 45px;
    padding-right: 2px;
}
span{
    font-size: 30px;
    color: rgb(130, 128, 128);
}

.billed{
    font-size: 25px;
    color: rgb(130, 128, 128);
}

.lorem{
    font-size: 17px;
    margin-bottom: 30%;
}

.gobtnt{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    color: white;
    background-color: rgb(152, 79, 197);
    border: none;
    border-radius: 3px;
    transition: all ease .6s;
    position: absolute;
    bottom: 0;
}
.gobtnt:hover{
    background-color: rgb(194, 125, 237);
}

.boxthreE{
    width: 260px;
    height: 380px;
    background-color: white;
    margin-left: 1rem;
    padding: 2rem;
    position: relative;
}

.price{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.theYEar{
    font-size: 30px;
    padding-bottom: 1rem;
}


.htwo{
    display: flex;
    align-items: end;
    padding-bottom: 12px;
}

.htwos{
    font-size: 45px;
    padding-right: 2px;
}
span{
    font-size: 30px;
    color: rgb(130, 128, 128);
}

.billed{
    font-size: 25px;
    color: rgb(130, 128, 128);
}

.lorem{
    font-size: 17px;
    margin-bottom: 30%;
}

.gobtnt{
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 8px;
    padding-bottom: 8px;
    width: 200px;
    margin-top: 45%;
    color: white;
    background-color: rgb(152, 79, 197);
    border: none;
    border-radius: 3px;
    transition: all ease .6s;
    position: absolute;
    bottom: 6%;
}
.gobtnt:hover{
    background-color: rgb(194, 125, 237);
}

.commentSection{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 2rem;
    flex-wrap: wrap;
}


.sectionOne{
    width: 50%;
    padding-right: 5%;
    flex-grow: 2;
    flex-basis: 300;
}


.commentOne, .profile{
    border-radius: 100%;
    width: 50px;
    margin: auto;
}

blockquote{
    font-size: 1.5rem;
    color: rgb(117, 116, 116);
}

.social, .sight{
    font-size: 25px;
    display: flex;
    justify-content: center;
}

.atag{
    text-decoration: none;
    color: rgb(79 209 197);
}


.sectionTwo{
    width: 50%;
    padding-right: 5%;
    flex-grow: 1;
    flex-basis: 200;
}

.choosE{
    padding: 2rem 2rem 0 2rem;
    height: 100vh;
}

.space{
    width: 100%;
    height: 95px;
    background-color: white;
}

.boxsies{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    margin: 0 auto;

}
.boXone{
    width: 280px;
    height: 250px;
    background-color: #4fd1c5;
    color: white;
    margin-right: 2rem;
    padding: 12px 12px 0 12px;
    position: relative;
}
.icon-one{
    width: 35px;
}

.icon-two{
    display: flex;
    justify-content: end;
    padding-right: 1rem;
}
.icon-img{
    width: 25px;
    position: absolute;
    bottom: 4%;
}

.boXtwO{
    width: 280px;
    height: 250px;
    background-color: #b794f4;
    color: white;
    margin-right: 2rem;
    padding: 12px 12px 0 12px;
    position: relative;
}

.boXthrEE{
    width: 280px;
    height: 250px;
    background-color: #7f9cf5;
    color: white;
    margin-right: 2rem;
    padding: 12px 12px 0 12px;
    position: relative;
}

.boXFoUr{
    width: 280px;
    height: 250px;
    background-color: #f687b3;
    color: white;
    margin-right: 2rem;
    padding: 12px 12px 0 12px;
    position: relative;
}

.inputType{
    background-color: rgb(40, 40, 40);
    display: flex;
    width: 98%;
    height: 250px;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
    padding: 3rem;
}

.input-head{
    color: white;
    font-size: 2.7rem;
}

.inpuEl-dark{
    padding: 12px;
    font-size: large;
    margin-left: 50px;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: transparent;
    border: solid gray;
    border-radius: 4px;
}
.btnlas{
    padding: 12px;
    background-color: rgb(20, 185, 185);
    border: none;
    border-radius: 4px;
    color: white;
    padding: 15px  30px;
    transition: all 0.5s ease;
    font-size: large;
}
.footer{
    display: flex;
}

.footer-links{
    display: flex;
    width: 100%;
    height: 35vh;
    justify-content: space-evenly;
}

.HfivE{
    font-size: 18px;
    color: rgb(58, 58, 58);
    margin-bottom: 9px;
}

.links-a{
    color: rgb(130, 128, 128);
    text-decoration: none;
    display: block;
    margin-bottom: 12px;
    transition: all 1s ease;
}

.links-a:hover{
    text-decoration: underline;
}

.footer-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 12vh;
}

.social-media{
    display: flex;
    justify-content: space-around;
}

.media{
    width: 30px;
    display: flex;
    justify-content: space-around;
    margin-left: 2px;
}
.meadia{
    background: #4fd1c5;
    border-radius: 35%;
    width: 36px;
    margin-left: 2px;
    transition: all .6s ease;
}

.meadia:hover{
    background-color: rgb(170, 255, 227);
}

 /* mobile */
@media (max-width: 580px) {
    .container{
        margin-left: 0;
    }
    .prt1 {
        margin-left: 10px; /* Further reduce margins for smaller screens */
        margin-top: 0;
    }

    .logoContainer {
        width: 18px;
        height: 18px;
        margin-right: 8px;
    }

    .links {
        font-size: 0.9rem; /* Smaller font for very small screens */
        margin-right: 6px;
    }

    .header {
        flex-direction: column; /* Stack header items for small screens */
        align-items: center;
    }

    .partTwo {
        height: auto; /* Make partTwo fully responsive on very small screens */
    }

    .hero-main{
        flex-direction: column;
        margin: 0 auto;
    }
    .headHO{
        font-size: 60px;
        width: 100%;
        flex-direction: column;
    }
    .inputSection{
        flex-direction: column;
    }
    .inpuEl{
        padding-left: 100px;
        margin-bottom: 12px;
    }
    .btnt{
        margin-left: 45px;
        width: 73%;
    }
    .partTwo, .main-img{
        width: 95%;
        height: 100vh;
    }
    .boxS{
        display: grid;
        grid-row: 2fr;
        width: 100%;
        height: 130vh;
    }
    .boxOne{
        margin-left: 45px;
    }
    .subpara{
        width: 100%;
        margin: 0 auto;
    }
    .buttonsVedi0{
        flex-direction: column;
        width: 100%;
    }
    .butns-part1{
        display: flex;
        justify-content: space-evenly;
        height: fit-content;
    }
    .butns-part2{
        display: flex;
        justify-content: space-evenly;
    }
    .butns-part3{
        display: flex;
        justify-content: center;
    }
    .videos{
        display: flex;
        flex-direction: column;
        width: 80%;
        margin: 0 auto;
    }
    .profileDIve{
        flex-direction: column;
    }
    .handpDiv{
        flex-direction: column;
        font-weight: 400;
        font-size: 50px;
    }
    .commentSection{
        flex-direction: column;
        width: 100%;
    }
    .sectionOne{
        width: 100%;
    }
    .sectionTwo{
        width: 100%;
    }
    .boxsies{
        flex-direction: column;
        width: 100%;
        margin: 0 auto;
    }
    .boXone, .boXtwO, .boXthrEE, .boXFoUr {
        width: 85%;
        margin: 20px auto;
    }
    .inputType{
        flex-direction: column;
        height: 90vh;
        width: 100%;
    }
    .head-input{
        width: 100%;
    }
    .input-head{
        font-size: 30px;
    }
    .inputSection{
        width: 95%;
        margin: 0 auto;
    }
    .inpuEl-dark{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .btnlas{
        display: flex;
        justify-content: center;
        margin: 0 auto;
        width: 100%;
    }
    .footer-links{
        height: 70vh;
    }
    .logoContainer{
        margin-bottom: 12px;
        width: 30px;
        height: 30px;
    }
}
    

